body {
    margin: 0px;
    background-color: green;
    /*box-shadow: 0px 0px 100px 5px;*/
}

body ul li a {
    color: white;
}

a:link {
    color: white;
    text-decoration: none;
    font-weight: normal;
    border-right-color: white;
    border-bottom-color: white;
    border-left-color: white;
}

a:hover {
    color: white;
    font-weight: bold;
}

.logo {
    float: left;
    width: 60px;
    height: 50px;
    cursor: pointer;
    cursor: hand;
    background-repeat: no-repeat;
    padding: 4px 0 4px 30px;
}

.header {
    width: 100%;
    height: 60px;
    align-items: center;
}

.titulo {
    position: relative;
    right: 55%;
    margin: 0px;
    color: #000;
    font-size: 25px;
    font-family: Courier New, monospace;
    padding: 4px 0 0px 0px;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
}

.header .container {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.navbar {
            
    font-size: medium;
    font-family: Courier New, monospace;
    width: 550px;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    color: white;
    display: flex;
    padding: 0;
    float: left;
}

.navbar li {
    position: relative;
    float: left;
}

.navbar li a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.navbar li a:hover {
    color: #fff;
    -moz-box-shadow: 0 3px 10px 0 #CCC;
    /*-webkit-box-shadow:0 3px 10px 0 rgb(245, 241, 8);*/
    text-shadow: 0px 0px 5px green;
}

.navbar li ul {
    position: absolute;
    width: 105px;
    padding: 1px;
    top: 25px;
    left: 0;
    background-color: green;
    display: none;
}

.navbar li:hover ul, .menu li.over ul {
    display: block;
}

.navbar li ul li {

    display: block;
    list-style-type: none;
    width: 150px;
}

.banner {
    height: 900px;
    background-color: yellow;
    background-size: cover;
    border: 10px green solid;                           
}

.texto1 {
    color: #000;
    font-family: Courier New, monospace;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 200px;
}